.header{
    &__wrapper{
        height: 80px;
        background-color: $accentColor;
        padding: 18px 0;
    }

    &__logo{
        margin-right: 73px;
    }

    &__button{
        @include text('Quicksand', 13px, 700, 16px, $buttonTextColor);
        background-color: $buttonBackColor;
        border: none;
        border-radius: $borderRadiusButton;
        padding: 13px 15px;
    }
}