// colors
$accentColor: #fff;
$titleColor: #3D4F9F;
$textColor: #8D96BD;
$menuColor: #697CA6;
$buttonBackColor: #D2E1FF;
$buttonTextColor: #3A79FF;
$logoColor: #5E81FE;

// border-radius
$borderRadiusButton: 2px;

// container
%container{
    width: 1206px;
    margin: 0 auto;
}