// COLORS
$accentColor: #fff;
$titleColor: #3D4F9F;
$textColor: #8D96BD;
$menuColor: #697CA6;
$buttonBackColor: #D2E1FF;
$buttonTextColor: #3A79FF;
$logoColor: #5E81FE;
$partnersColor: #5982E7;
$buttonPlanColor: #4C85FF;
$buttonPlanSecColor: #ADB4D2;
$buttonPlanBorderColor: #D1D1E4;
$planBackColor: #F5F8FF;

// FONTS
$basicFont: 'Quicksand';
$secondaryFont: 'Roboto';

// BORDER-RADIUS
$borderRadiusButton: 2px;
